SECRET_KEY=your-secret-key

MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_DEFAULT_SENDER=

GOOGLE_CLIENT_ID=

DATABASE_URL=

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173