# Environment variables
.env
.env.*
!.env.example

# Node
node_modules/

# Vite build output
dist/

# Python
__pycache__/
*.py[cod]
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local Git logs
git_log.txt
git_log_extended_version.txt
# Local files
Models/
geo_tagged_pic.jpeg